* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start Header */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #fefeff;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.logo a {
  font-weight: 800;
  font-size: larger;
  text-decoration: none;
  color: #007bff;
}

.burger-menu {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #064486;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .nav-links.active {
    opacity: 1;
    visibility: visible;
  }
}


/* End Header */

/* Start Hero */
.hero {
  background-image: url('/public/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  padding: 0 80px; 
  position: relative;
}

@media (max-width: 1024px) {
  .hero {
    height: 500px; 
    padding: 0 50px; 
  }
}

@media (max-width: 768px) {
  .hero {
    height: 450px; 
    padding: 0 30px; 
  }
}

@media (max-width: 480px) {
  .hero {
    height: auto;
    padding: 50px 20px;
    justify-content: flex-start;
  }
}

.container1 {
  max-width: 900px;
  line-height: 1.5;
}

.container1 h3 {
  color: #007bff;
  font-size: 22px;
  margin-bottom: 5px;
}

.container1 p {
  color: white;
  font-size: 18px;
}

.but {
  color: white;
  background-color: #007bff;
  border-radius: 7px;
  width: 150px;
  height: 40px;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.but:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.container1 h3{
color:#007bff;
font-size: 18px;

}

.container1 p {
  color: #fefeff;
  font-size: 16px;
}
.social-icons {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.social-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.social-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.social-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.icon1 {
  font-size: 18px;
}

@media (max-width: 768px) {
  .container1 {
    max-width: 100%;
    text-align: left;
  }

  .social-buttons {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }

  .social-btn {
    width: auto;
    justify-content: flex-start;
    gap: 5px;
    font-size: 14px;
  }
  .container1 h3 {
    color: #007bff;
    font-size: 18px;
    margin-bottom: 3px;
  }
  .container1 p {
    color: white;
    font-size: 14px;
  }
  .but {
    width: 140px;
    height: 36px;
    border: none;
    margin-top: 10px;
    font-size: 14px;
    
  }

}

/* End Hero */
/*Start Services */
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.services .container button {
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.services .container button::after,
.services .container button::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87cfe8;
  top: 50%;
  transform: translateY(-50%);
}

.services .container button::after {
  left: -20px;
}

.services .container button::before {
  right: -20px;
}

.services .container .boxs {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px;
  padding: 50px;
  width: 100%;
}

.services .container .box {
  width: calc(33.333% - 40px); 
  max-width: 352px;
  min-width: 250px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 15px 2px rgba(221, 220, 220, 0.5);
  text-align: center;
  padding: 30px 15px;
  border-radius: 10px;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.services .container .box i {
  font-size: 40px;
  color: #82d3ed;
}

.services .container .box .fa-chrome {
  color: #f1a9b2;
}

.services .container .box h3 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.services .container .box p {
  color: #777;
  max-width: 90%;
  text-align: center;
}

@media (max-width: 1024px) {
  .services .container .box {
    width: calc(50% - 40px); 
  }
}

@media (max-width: 768px) {
  .services .container .box {
    width: 100%; 
  }
}

/*End Services */

/* Start projects */

.projects .container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  background-color: #2c2b2b;
  width: 100%;
}

.projects .container4 .project-button4 {
  border: 1px solid white;
  border-radius: 3px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  position: relative;
  background-color: #2c2b2b;
  color: white;
}

.projects .container4 .project-button4::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87cfe8;
  left: -14%;
  top: 37%;
  transform: translateX(-50%);
}

.projects .container4 .project-button4::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87cfe8;
  left: 113%;
  top: 37%;
  transform: translateX(-50%);
}

.projects .container4 .project-button4::after {
  left: -14%;
}

.projects .container4 .project-button4::before {
  left: 113%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  gap: 20px;
  padding: 50px 10px;
  
}

.container3 {
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.container3:hover {
  transform: translateY(-10px);
}

.container3 .photo {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 7px 7px 0 0;
  object-fit: cover;
}

.container3 h3 {
  margin: 15px 0;
  font-size: 15px;
  color: #787676;
  padding: 5px;
}

.container3 span {
  margin-bottom: 20px;
  font-size: 14px;
  color: #000000;
  padding-left: 5px;
}

.button-proj {
  border-color: white;
  background-color: white;
  border: none;
  color: #5cd3e4;
  padding: 10px;
  cursor: pointer;
}

.button-proj:hover {
  color: #3e13ffec;
}

@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* End projects */

/* Start contacts */

.contact-section {
  padding: 50px 0;
  text-align: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section .container2 button {
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  position: relative;
}

.contact-section .container2 button::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87cfe8;
  left: -14%;
  top: 37%;
  transform: translateX(-50%);
}

.contact-section .container2 button::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87cfe8;
  left: 113%;
  top: 37%;
  transform: translateX(-50%);
}

  .contact-button {
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    position: relative;
  }
  
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.contact-card {
  background: #fff;
  padding: 20px;
  width: 350px;
  height: 200px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.phone-icon {
  color: #82d3ed;
}

.email-icon {
  color: #f1a9b2;
}

.practice-icon {
  color: #82d3ed;
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  font-size: 16px;
  color: #555;
}
/* End Contact */
/* Start Footer */

.footer {
  text-align: center;
  padding: 20px;
  background-color: #46B5F9;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}


.names a {
  color: #f9465b;
  font-weight: bold;
  text-decoration: none;
  margin: 0 8px; 
  transition: color 0.3s ease-in-out;
}


.names a:hover {
  color: #b71185; 
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    font-size: 14px;
    padding: 15px;
  }

  .names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .names a {
    margin: 5px;
  }
}


/* End Footer*/