*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Start Header */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #fefeff;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.logo a {
    font-weight: 800;
    font-size: larger;
    text-decoration: none;
    color: #007BFF;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

ul li a:hover {
    color: #064486;
}
/* End Header */

/* Start Hero */
