*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Start Header */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #fefeff;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.logo a {
    font-weight: 800;
    font-size: larger;
    text-decoration: none;
    color: #007BFF;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

ul li a:hover {
    color: #064486;
}
/* End Header */

/* Start Hero */
.hero{
   
    background-image: url(/public/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
}
.container1{
    margin-left: 200px;
    line-height: 25px;
    padding-top:300px ;
}
.but{
    color: #fefeff;
   background-color: #007BFF;
    border-radius: 7px;
    width: 150px;
    height: 30px;
    border: #007BFF;
}
.container1 h3{
color:#007BFF ;

}

.container1 p{
    color: #fefeff;
    font-size: 15px;
}

/*Start Services */
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.services .container button {
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  position: relative;
}

.services .container button::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87CFE8;
  left: -14%;
  top: 37%;
  transform: translateX(-50%);
}

.services .container button::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87CFE8;
  left: 113%;
  top: 37%;
  transform: translateX(-50%);
}

.services .container .boxs {
  display: flex;
  gap: 30px;
  padding: 50px;
} 

.services .container .box {
  width: 352px;
  height: 283px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 15px 2px rgba(221, 220, 220, 0.5);
  text-align: center;
  padding: 30px 15px;
}

.services .container .box i {
  font-size: 70px;
  color: #87CFE8;
}

.services .container .box .fa-chrome {
  color: #EBBEC3;
}

.services .container .box h3 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.services .container .box p {
  color: #777;
  width: 325px;
}

/*End Services */
